<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="defaultTheme" name="css/default.css" />
        <h:outputStylesheet library="defaultTheme" name="css/layout.css"/>
        <title>Půjčovna</title>
    </h:head>

    <h:body>


        <div id="top" class="top">
            <ui:insert name="top"/> 
        </div>


        <div>
            <div id="top-menu">
                <ui:insert name="left">Left</ui:insert>
            </div>


            <div id="content" class="center_content">
                <ui:insert name="content">Content</ui:insert>
            </div>

        </div>
    </h:body>

</html>
