<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
    </head>
    <body>
        <ui:composition template="./templates/masterTemplate.xhtml">

            Vsechno mimo ui:define je ignorovano
            <ui:define name="top">
                <ui:include src="./templates/commonHeader.xhtml "/>
            </ui:define>

            <ui:define name="left">
                <ui:include src="./templates/commonMenu.xhtml "/>
            </ui:define>

            <!-- bezny obsah -->
            <ui:define name="content">
                <h2>Vítejte na stránkách půjčovny nářadí</h2>
            </ui:define>

        </ui:composition>
    </body>
</html>
