<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ez="http://xmlns.jcp.org/jsf/composite/ezcomp">


    <body>

        <ui:composition template="./templates/masterTemplate.xhtml">
            <ui:define name="top">
                <ui:include src="./templates/commonHeader.xhtml "/>
            </ui:define>
            <ui:define name="left">
                <ui:include src="templates/commonMenu.xhtml" />
            </ui:define>

            <ui:define name="content">
                <h:form id="form">
                    <p:commandButton  ajax="false" value="Zpět" action="#{scheduleCtl.back()}" icon="ui-icon-arrowreturn-1-w"/>
                    <p:schedule value="#{scheduleView.getEventModelByTool(scheduleCtl.showTool)}" />

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
