<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <body>

        <ui:composition template="./templates/masterTemplate.xhtml">
            <ui:define name="top">
                <ui:include src="./templates/commonHeader.xhtml "/>
            </ui:define>
            <ui:define name="left">
                <ui:include src="templates/commonMenu.xhtml" />
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">



                    <h:panelGrid columns="2">
                        <h:outputLabel for="name">Název přístroje</h:outputLabel>
                        <h:inputText id="name" value="#{toolManageCtl.name}"></h:inputText>
                        
                        <h:outputLabel for="info">Info o přístroji</h:outputLabel>
                        <h:inputText id="info" value="#{toolManageCtl.info}"></h:inputText>
                        
                        <h:outputLabel for="fileAdd">Obrázek</h:outputLabel>
                        <h:inputFile id="fileAdd" value="#{toolManageCtl.uploadedFile}"></h:inputFile>
                        
                        <h:outputLabel for="category">Vybrat kategorii</h:outputLabel>
                        <h:selectOneMenu id="category" value="#{toolManageCtl.categoryId}">
                            <f:selectItems value="#{categoryCtl.categories}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}" />
                        </h:selectOneMenu>
                        
                        
                        
                        <h:outputLabel for="priceAdd">Cena za den"</h:outputLabel>
                        <h:inputText id="priceAdd" value="#{toolManageCtl.priceForDay}"></h:inputText>

                    </h:panelGrid>   
                    <p:commandButton  ajax="false" value="Vložit vybavení" action="#{toolManageCtl.saveForm()}" icon="ui-icon-check"/>
                    
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
