?<xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ez="http://xmlns.jcp.org/jsf/composite/ezcomp">


    <body>

        <ui:composition template="./templates/masterTemplate.xhtml">
            <ui:define name="top">
                <ui:include src="./templates/commonHeader.xhtml "/>
            </ui:define>
            <ui:define name="left">
                <ui:include src="templates/commonMenu.xhtml" />
            </ui:define>

            <ui:define name="content">
                <h:form enctype="multipart/form-data">


                    
                    <ui:repeat value="#{toolListCtl.tools}" var="t">
                        <h:commandLink action="#{showToolController.show(t)}" class="toolWrap">
                            <p:panelGrid columns="1">
                                <f:facet name="header">
                                    <o:graphicImage value="#{imageController.get(t.id)}" height="200px" width="200px"></o:graphicImage>
                                </f:facet>
                                <h:outputText id="name" value="#{t.name}"></h:outputText> 
                            </p:panelGrid>                                
                        </h:commandLink>
                    </ui:repeat>
                    
                    
                   




                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
